<h1>Editing chat</h1>

<% form_for(@chat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :waiting %><br />
    <%= f.check_box :waiting %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @chat %> |
<%= link_to 'Back', chats_path %>