<div class="chat-view" id="chat-view"></div>
<%= periodically_call_remote(:url => "messages/get/#{current_user.chat_id}", :frequency => '.5', :update => 'chat-view', :condition => "$('chatid').innerHTML == '#{current_user.chat_id}'" )%>
<div id="chat_form">
<% form_remote_tag :url => {:controller => "messages", :action => "create_new"} do	-%>
<%= hidden_field_tag :user_id, current_user.id %>
<%= hidden_field_tag :chat_id, current_user.chat_id %>
<%= text_field_tag :body %>
<%= submit_tag 'Send' %>
<% end -%>
</div>
<div class="chatid" id="chatid" style="display: none;"><%= current_user.chat_id %></div>
<div id="errors">
</div>